# Resend
RESEND_API_KEY=re_xxxxxxxxx

# Kui verifitseerid Resendis saatva domeenina näiteks send.tammets.ee,
# siis kasuta siin sama domeeni aadressi.
RESEND_FROM_EMAIL=broneering@send.tammets.ee
RESEND_FROM_NAME=Tammets.ee

# Kuhu päringud päriselt jõuavad
BOOKING_TO_EMAIL=marek@tammets.ee

# Kohalik server
HOST=127.0.0.1
PORT=8000
